           button{
                margin-top:3VH;
                height:3VH;
                width:20VW;
            }
            div{
                display:flex;
                flex-direction:column;
                text-align:center;
                font-size:3VH;
                align-items:center;
            }